---
- name: Install MariaDB and dependencies
  ansible.builtin.apt:
    name: "{{ mariadb_packages }}"
    state: present
    update_cache: yes
  tags:
  - install

- name: Configure MariaDB bind-address
  ansible.builtin.lineinfile:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    regexp: '^bind-address\s*='
    line: "bind-address            = {{ mariadb_bind_address }}"
    backup: yes
  notify: Restart MariaDB
  tags:
  - config

- name: Ensure MariaDB is started and enabled
  ansible.builtin.service:
    name: mariadb
    state: started
    enabled: yes
  tags:
  - service

- name: Clone application repo for SQL import
  ansible.builtin.git:
    repo: "{{ db_repo_url }}"
    dest: "{{ db_repo_dest }}"
    version: "{{ db_repo_version }}"
    force: yes
  tags:
  - deploy-code

# DB and user creation (with unix_socket root)

- name: Ensure app database exists
  community.mysql.mysql_db:
    name: "{{ mariadb_app_db }}"
    state: present
    login_unix_socket: /run/mysqld/mysqld.sock
  tags:
  - schema

- name: Ensure app database user exists
  community.mysql.mysql_user:
    name: "{{ mariadb_app_user }}"
    password: "{{ mariadb_app_password }}"
    host: "%"
    priv: "{{ mariadb_app_db }}.*:ALL"
    state: present
    login_unix_socket: /run/mysqld/mysqld.sock
  tags:
  - schema
  - config

- name: Import initial schema/data
  community.mysql.mysql_db:
    name: "{{ mariadb_app_db }}"
    state: import
    target: "{{ db_repo_dest }}/{{ db_sql_file_relpath }}"
    login_unix_socket: /run/mysqld/mysqld.sock
  when: db_sql_file_relpath is defined
  tags:
  - schema
